[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/supertab"]
	path = vim/.vim/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/.vim/pack/tpope/start/commentary"]
	path = vim/.vim/pack/tpope/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/pack/tpope/start/vim-surround"]
	path = vim/.vim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/pack/vendor/start/ctrlp.vim"]
	path = vim/.vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/.vim/pack/vendor/start/nerdtree"]
	path = vim/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/.vim/pack/vendor/start/syntastic"]
	path = vim/.vim/pack/vendor/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
