[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/supertab"]
	path = vim/.vim/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/.vim/pack/tpope/start/commentary"]
	path = vim/.vim/pack/tpope/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/pack/tpope/start/vim-surround"]
	path = vim/.vim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround
